$width1: 840px;
$width2: 700px;
$width3: 610px;
$width4: 400px;

#about {
  width: 100%;
  height: 300px;
  background-color: #333132;
  margin-top: 30px;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  padding: 40px 0px;
		 -webkit-transition: background-color 0.4s;
		 -moz-transition:    background-color 0.4s;
		 -o-transition:      background-color 0.4s;

  img {
  margin-right: 5%;
  width: 25%;
  float: left;
  clear: both;
  }
  h3 {
  font-size: 2em;
  font-family: 'oswaldlight', sans-serif;
  letter-spacing: 3px;
  }
  p {
    font-size: 0.9em;
    line-height: 1.5em;
    float: left;
    width: 66%;
  }
}
#about:hover {
  background-color: #bc522a;
		  -webkit-transition: background-color 0.4s; 
		  -moz-transition:    background-color 0.4s;
		  -o-transition:      background-color 0.4s;
}
