$width1: 840px;
$width2: 700px;
$width3: 610px;
$width4: 400px;

@media (max-width: $width2){

  .projects li{
    width: 49%;
    padding-top: 49%; 
    margin-bottom: 2.3%;
  }

}

@media (max-width: $width3){
  .projects li{
    width: 49%;
    padding-top: 49%; 
    margin-bottom: 2.3%;
  }
}

.projects {
    text-align: justify;
    font-size: 0em; /*hide whitespace between elements*/
    margin: 0 auto;
    padding-top: 150px;
    
    li {
      display: inline-block;
      opacity: 1;
      font-size: 1rem;
      position: relative;
      background-size: 100%;
    }

    li.closed {
      width: 32%;
      padding-top: 32%;
      margin-bottom: 2%;
      -webkit-transition: width 0.4s, padding-top 0.4s;
      -moz-transition:    width 0.4s, padding-top 0.4s;
      -o-transition:      width 0.4s, padding-top 0.4s;

      .slider-hook {
        display:none;
      }

      aside {
        display: none;
      }

    }

    li.closed:hover {
      opacity: .8;
    }

    li.open {
      width: 100%;
      background: none;
    }
}


aside.description {

  padding-top:20px;
  
  h3 {
    float: left;
    width:20%;
    font-family: 'aleolight', sans-serif;
    font-size: 2em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    color: #bc522a;
  }

  p {
    width:65%;
    float: right;
    padding-left: 30px;
    font-family: Helvetica, sans-serif;
    font-size: .8em;
    color: #333132;
  }
}
.projects:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.projects .placeholder {
  padding-top: 0;
  font-size:0.1;
}
  
h3 {
  font-family: 'aleolight', sans-serif;
  font-size: 1.6em;
  line-height: 1.2em;
}

p {
  font-family: Helvetica;
  font-size: .7em;
  line-height: 1.5em;
  letter-spacing: 1;
}

/* PROJECTS ----------------------------------- INDIVIDUALS */

.sms {
  background: url("../img/sms-sprite.jpg");
}

.concrete-canvas {
  background: url("../img/boards-thumb.jpg");
}

/* ----------------------------------- */

.clear {
  width: 100%;
  font-size: 0em;
  display: inline-block;
}